{% macro nested_list( entry ) -%}

<ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
      <h5 class="font-italic">{{ content.title }}</h5>
      {% if content.elements %}
        <ul class="subitems">
          {% for subitem in content.elements %}
            <li><span class="subitem">{{ subitem }}</span></li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>

{% endmacro %}