{% extends "default.html" %}

{% set page = {'url': '/posts/category', 'date': SITE.time, 'title': 'categories'} %}
{% block content %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title"> <i class="fas fa-tag fa-sm"></i> categories </h1>
    <p class="post-description">all categories on this blog</p>
  </header>

  <article>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% for category in categories %}
        <tr>
          <th scope="row">
              <a class="post-link" href="{{ category[0].url | relative_url }}">
                <i class="fas fa-tag fa-sm"></i>&nbsp;&nbsp;{{ category[0] }}</a>
          </th>
        </tr>
      {% endfor %}
      </table>
    </div>
  </article>

</div>

{% endblock %}
