{% macro figure( path,
                class=none, 
                width=none, 
                height=none, 
                min_width=none, 
                min_height=none,
                max_width=none,
                max_height=none,
                alt=none,
                title=none,
                zoomable=none,
                caption=none,
                cache_bust=true) -%}

{% set img_path = path | replace(".jpg", "") | replace(".jpeg", "") | replace(".png", "") | replace(".tiff", "") %}

<figure>
  <picture>
    <img
      src="{% if cache_bust %}{{ path | bust_file_cache | relative_url }}{% else %}{{ path | relative_url }}{% endif %}"
      {% if class %}class="{{ class }}" {% endif %}
      {% if width %}width="{{ width }}" {% else %}width="auto" {% endif %}
      {% if height %}height="{{ height }} "{% else %}height="auto" {% endif %}
      {% if min_width %}min-width="{{min_width }}"{% endif %}
      {% if min_height %}min-height="{{min_height}} "{% endif %}
      {% if max_width %}max-width="{{ max_width }} "{% endif %}
      {% if max_height %}max-height="{{max_height}} "{% endif %}
      {% if alt %}alt="{{alt}} "{% endif %}
      {% if title %}title="{{title}}"{% endif %}
      {% if zoomable %}data-zoomable{% endif %}
      onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
    >
  </picture>

  {%- if caption -%}<figcaption class="caption">{{ caption }}</figcaption>{%- endif %}

</figure>

{%- endmacro %}